/* [data-theme-light="custom_light"] {
  --color-gray-50: #FAF9F7;
  --color-gray-100: #F6F5F2;
  --color-gray-150: #F0EEEA;
  --color-gray-200: #E9E6E2;
  --color-gray-300: #DDD9D3;
  --color-gray-400: #C4C0B9;
  --color-gray-500: #A09C96;
  --color-gray-600: #7C7873;
  --color-gray-700: #5B5853;
  --color-gray-800: #3C3A37;
  --color-gray-900: #232220;
  --color-gray-950: #141312;
} */

/* [data-theme-dark="custom_dark"] {
  --color-gray-50: #1a1008;
  --color-gray-100: #22160b;
  --color-gray-150: #2a1c0e;
  --color-gray-200: #332113;
  --color-gray-300: #43301f;
  --color-gray-400: #5a4732;
  --color-gray-500: #75604b;
  --color-gray-600: #9a8269;
  --color-gray-700: #b8a28b;
  --color-gray-800: #d1bfae;
  --color-gray-900: #e5d7c9;
  --color-gray-950: #faf3ec;
} */

[data-theme-primary="custom"] {
  --color-primary-50: #fff4e6;
  --color-primary-100: #ffe0bf;
  --color-primary-150: #ffd1a3;
  --color-primary-200: #ffc285;
  --color-primary-300: #ffa54d;
  --color-primary-400: #ff8714;
  --color-primary-500: #e57000;
  /* Cor principal */
  --color-primary-600: #cc6500;
  --color-primary-700: #b35a00;
  --color-primary-800: #8c4800;
  --color-primary-900: #663500;
  --color-primary-950: #402200;
}